//  ROOT
lang= en
dir= ltr
align= left
align-alt= right

//  FONTS
family-body= Muli, font-stack('Helvetica')
weight-regular= 600
weight-bold= 700
weight-black= 900

font-default= 14px
font-small= 12px

font-headline= 30px
font-heading1= 24px
font-heading2= 18px
font-heading3= 16px
font-heading4= font-small

//  LOAD FILES
@import "load"
