extends ../layouts/public

block content
  .wrapper
    
    //- BACKGROUND
    .background
    
    //- LAND
    include ../includes/land
    
    //- BURGER
    a#burger(href='#')
      - for (var a = 0; a < 3; a++)
        div
    
    //- CLERK
    include ../includes/clerk
    #loading.loading= root.loading
