landPaddingVert= baseline*2
landPaddingHorz= baseline*1.5

popsSize= 420px

#land
  z-index: 9
  makeAbsolute: 0 0 0 containerWidth
  a
    hasOutline: white
@media (max-width: delta - 1)
  .app #land
    z-index: 0
    visibility: hidden

//  BACKGROUND
#land .background
  makeAbsolute: 0 0 0 -150%
  hasTransition: durationAlt
  background-color: blue
.app #land .background
  {align-alt}: 0
@media (max-width: delta - 1)
  .app #land .background
    {align-alt}: 100%

//  Z-INDEX
#pops,
#clerkFlat,
#land .links,
#land .headlines
  z-index: -1
.app #pops,
.app #clerkFlat,
.app #land .links,
.app #land .headlines
  z-index: 2
.auth #pops,
.auth #clerkFlat,
.auth #land .links,
.auth #land .headlines
  hasTransition: durationAlt*2

//  POPS
#pops
  makeAbsolute: 50% 50%
  margin-top: -(loadingHeight/2) + (clerk-width/2) - (popsSize/2)
  margin-{align}: -(popsSize/2)
  hasTransition: durationAlt step
  opacity: 0
@media (min-width: delta)
  .app #pops
    opacity: .2

//  CLERK FLAT
#clerkFlat
  makeAbsolute: landPaddingVert landPaddingHorz

//  HEADLINES
#land .headlines
  makeAbsolute: auto landPaddingHorz landPaddingVert
  .headline
    makeAbsolute: auto 0 0
    white-space: nowrap
    color: white
    mark:before
      background-color: blue-shade
@media (min-width: delta)
  .personality.personal-information #land .headlines .headline[data-location='personal-information'],
  .personality.contact-information #land .headlines .headline[data-location='contact-information'],
  .personality.professional-experience #land .headlines .headline[data-location='professional-experience'],
  .personality.personality-and-interests #land .headlines .headline[data-location='personality-and-interests'],
  .personality.insights #land .headlines .headline[data-location='insights'],
  .identified--applicant.vacancy.apply #land .headlines .headline[data-location='vacancy'],
  .identified--company.applicants #land .headlines .headline[data-location='applicants'],
  .app:not(.personality) #land .headlines .headline[data-location='app'],
  .app:not(.apply) #land .headlines .headline[data-location='app'],
  .app:not(.applicants) #land .headlines .headline[data-location='app']
    .spans
      spansCurrent()
