landPaddingVert= baseline*2
landPaddingHorz= baseline*1.5

popsSize= 420px

#land
  z-index: 8
  makeAbsolute: 0 0 0 containerWidth
  a
    hasOutline: white
@media (max-width: delta - 1)
  .app #land
    z-index: 0
    visibility: hidden

//  BACKGROUND
#land .background
  makeAbsolute: 0 0 0 -150%
  hasTransition: durationAlt
  background-color: blue
.app #land .background
  {align-alt}: 0
@media (max-width: delta - 1)
  .app #land .background
    {align-alt}: 100%

//  Z-INDEX
#pops,
#clerkFlat,
#land .menu,
#land .headlines
  z-index: -1
.app #pops,
.app #clerkFlat,
.app #land .menu,
.app #land .headlines
  z-index: 2
.auth #pops,
.auth #clerkFlat,
.auth #land .menu,
.auth #land .headlines
  hasTransition: durationAlt*2

//  POPS
#pops
  makeAbsolute: 50% 50%
  margin-top: -(loadingHeight/2) + (clerk-width/2) - (popsSize/2)
  margin-{align}: -(popsSize/2)
  hasTransition: durationAlt step
  opacity: 0
@media (min-width: delta)
  .app #pops
    opacity: .2

//  CLERK FLAT
#clerkFlat
  makeAbsolute: landPaddingVert landPaddingHorz

//  MENU
#land .menu
  makeAbsolute: landPaddingVert auto auto 0
  nav
    makeAbsolute: 0 auto auto landPaddingHorz
    white-space: nowrap
    visibility: hidden
    ul li
      display: inline-block
      line-height: clerkFlat-height
      opacity: 0
      transform: translateY(clerkFlat-height)
      hasTransition()
      &:not(:last-child)
        margin-{align-alt}: baseline*1.25
      .link
        color: blue-high
        &:before
          background-color: blue-shade
        &:hover, &:focus
          color: dark-blue
          &:before
            background-color: dark-blue
@media (min-width: delta)
  .app.unauthorized #land .menu nav[data-permission='unauthorized'],
  .app.authorizedAsApplicant #land .menu nav[data-permission='applicant'],
  .app.authorizedAsCompany #land .menu nav[data-permission='company']
    visibility: visible
    ul li
      opacity: 1
      transform: translateY(0)
      multiTransition: 1 3 duration duration

//  HEADLINES
#land .headlines
  makeAbsolute: auto landPaddingHorz landPaddingVert
  .headline
    makeAbsolute: auto 0 0
    white-space: nowrap
    color: white
    mark:before
      background-color: blue-shade
@media (min-width: delta)
  .personality.basic-information #land .headlines .headline[data-location='basic-information'],
  .personality.personal-information #land .headlines .headline[data-location='personal-information'],
  .personality.contact-information #land .headlines .headline[data-location='contact-information'],
  .personality.professional-experience #land .headlines .headline[data-location='professional-experience'],
  .personality.personality-and-interests #land .headlines .headline[data-location='personality-and-interests'],
  .personality.insights #land .headlines .headline[data-location='insights'],
  .authorizedAsApplicant.vacancy.apply #land .headlines .headline[data-location='vacancy'],
  .authorizedAsCompany.v.applicants #land .headlines .headline[data-location='applicants'],
  .authorizedAsCompany.v.applicant #land .headlines .headline[data-location='applicants'],
  .app:not(.personality):not(.apply):not(.applicants):not(.applicant) #land .headlines .headline[data-location='app']
    .spans
      spansCurrent()
