landPaddingVert= baseline*2
landPaddingHorz= baseline*1.5

popsSize= 420px

#land
  z-index: 9
  makeAbsolute: 0 0 0 containerWidth
  a
    hasOutline: white
@media (max-width: delta - 1)
  .app #land
    z-index: 0
    visibility: hidden

//  BACKGROUND
#land .background
  makeAbsolute: 0 0 0 100%
  hasTransition: durationAlt
  background-color: blue
.loading #land .background
  {align-alt}: -150%
@media (min-width: delta)
  #land .background
    {align-alt}: 0

//  Z-INDEX
#pops,
#clerkFlat,
#land .links,
#land .headlines
  z-index: -1
.app #pops,
.app #clerkFlat,
.app #land .links,
.app #land .headlines
  z-index: 2

//  POPS
#pops
  makeAbsolute: 50% 50%
  margin-top: -(loadingHeight/2) + (clerk-width/2) - (popsSize/2)
  margin-{align}: -(popsSize/2)
  hasTransition: durationAlt step
  opacity: 0
@media (min-width: delta)
  .app #pops
    opacity: .2

//  CLERK FLAT
#clerkFlat
  makeAbsolute: landPaddingVert landPaddingHorz
