.template
  z-index: 8
  makeAbsolute: 0 (100% - containerWidth) 0 0
  hasTransition: durationAlt
  padding: 0 containerMarginHorz 0
  overflow-y: auto
  .container
    padding: (containerMarginVert + 66px + 21px) 0 containerMarginVert

@media (max-width: delta - 1)
  .template
    {align}: 0
    padding-{align}: baseline
    padding-{align-alt}: baseline
