.template
  overflow-y: auto
  z-index: 0
  opacity: 0
  makeAbsolute: 0 (100% - containerWidth) 0 0
  padding: 0 containerMarginHorz 0
  hasTransition: durationAlt
  .container
    padding: (containerMarginVert + (clerk-width * clerk-scale) + baseline*.75) 0 containerMarginVert
  header, section
    &:not(:last-child)
      margin-bottom: baseline*.75
  header p
    line-height: baseline*.75
    color: text-light
    a
      color: text-default
      &:before
        bottom: 10%
  main p
    line-height: baseline*1.25
    color: text-dark
@media (max-width: delta - 1)
  .template
    {align}: 0
    padding-{align}: baseline
    padding-{align-alt}: baseline

//  SHOW TEMPLATES
.app.applicant .template[data-template='applicant'],
.app.company .template[data-template='company'],
.app.vacancy .template[data-template='vacancy'],
.app.vacancies .template[data-template='vacancies']
  z-index: 7
  opacity: 1
