clerk-width= 66px
clerk-margin= baseline*1.5
clerk-scale= .666
clerk-scale-shortcut= -((clerk-width -(clerk-width * clerk-scale)) /2)
clerk-symbol-length= 142px, 128px, 114px, 99px, 85px
clerk-symbol-length-full= 168px

clerkMargin(container, margin=clerk-margin)
  margin-top: -(container/2) + clerk-width + margin

//  CLERK
#clerk
  z-index: 10
  makeAbsolute: 0 0
  width: clerk-width
  height: clerk-width
  hasTransition: durationAlt
  margin-top: clerk-scale-shortcut + containerMarginVert
  margin-{align}: clerk-scale-shortcut + baseline
  transform: scale(clerk-scale)
  .symbol,
  .symbol circle
    transition: all durationAlt ease
    animation: none
.loading #clerk
  makeAbsolute: 50% 50%
  margin-{align}: -(clerk-width/2)
  transform: scale(1)
.loading #clerk
  margin-top: -(loadingHeight/2) !important
@media (min-width: delta)
  #clerk
    {align}: 100% - containerWidth
    margin-{align}: clerk-scale-shortcut + containerMarginHorz

//  SYMBOL
#clerk .symbol
  width: clerk-width
  height: clerk-width
  fill: none
  stroke: blue
  stroke-linecap: round
  stroke-width: 12
  transform: rotate(30deg)
.waiting #clerk .symbol
  animation: clerkRotate durationAlt ease infinite
  @keyframes clerkRotate
    100%
      transform: rotate(30deg + (360deg - 1deg))
.loading #clerk .symbol
  stroke: white

//  CIRCLE
#clerk .symbol circle
  opacity: .35
  &:nth-child(5)
    opacity: 1
  for i in 1..5
    &:nth-child({i})
      stroke-dasharray: clerk-symbol-length[i - 1]
      stroke-dashoffset: -((clerk-symbol-length[0] - clerk-symbol-length[i - 1]) /2)
.waiting #clerk .symbol circle
  opacity: 0
  stroke-dasharray: clerk-symbol-length-full
  stroke-dashoffset: clerk-symbol-length-full
  &:nth-child(5)
    opacity: 1
    animation: clerkDashoffset durationAlt ease infinite
    @keyframes clerkDashoffset
      49.5%, 50.5%
        stroke-dashoffset: 0
      100%
        stroke-dashoffset: -(clerk-symbol-length-full)
