#loading
  z-index: 10
  makeAbsolute: 50% 0 auto 0
  clerkMargin: loadingHeight
  font-size: font-heading3
  text-align: center
  color: blue-high
  opacity: 0
  transform: translateY(baseline)
  hasTransition()
#loading.loading
  opacity: 1
  transform: translateY(0)
