spansTransition(min, max, dur=duration, dly=0)
  d= 0
  for i in min..max
    d= (d+step)*pattern
    &:nth-child({i})
      hasTransition: dur dly d
      &:before
        hasTransition: dur (dly + duration) d

.spans
  white-space: nowrap
.spans > *
  display: inline-block
  opacity: 0
  transform: translateY(baseline)
  hasTransition()
  cursor: default
  &:not(:first-child)
    margin-{align}: 3px
.current .spans
  > *
    z-index: 1
    opacity: 1
    transform: translateY(0) !important
    spansTransition: 1 15 duration step
    cursor: auto
  for i in 2..5
    &:nth-child({i}) > *
      spansTransition: 1 15 duration step*i

.spans > mark:before
  {align-alt}: 100%
  hasTransition: unit(step, 's') duration
.current .spans > mark:before
  {align-alt}: 0

.headline .spans > *
  transform: translateY(headline-height)
  &:not(:first-child)
    margin-{align}: 8px

.h1 .spans > *
  transform: translateY(heading1-height)
  &:not(:first-child)
    margin-{align}: 6px

.h2, .h3
  .spans > *:not(:first-child)
    margin-{align}: 4px

.h2 .spans > *
  transform: translateY(heading2-height)
