#auth
  z-index: 0
  makeAbsolute: 0 0 0 0
  text-align: center
  color: blue-high
.auth #auth
  z-index: 9

//  HEADLINE
#auth .h3
  margin-bottom: 0
  color: blue-high

//  ANCHOR
#auth a
  hasOutline: white
  &.link
    color: blue-high
    &:before
      background-color: blue-shade
    &:hover, &:focus
      color: dark-blue
      &:before
        background-color: dark-blue

//  FIELDS
#auth .fields
  margin-top: baseline*.75
  margin-bottom: baseline*.5
  .field
    border-color: blue-shade
    input
      color: white
      +placeholder()
        color: blue-low
      &:hover ~ .effect,
      &:focus ~ .effect
        background-color: dark-blue

//  BUTTON
#auth .button
  margin: 0 auto
  background-color: blue-shade
  color: blue-high
  &:hover
    background-color: dark-blue
    color: white

//  BACKGROUND
#auth .background
  makeAbsolute: 0 0 0 0

//  Z-INDEX
#intro,
#switch
  z-index: -1
  opacity: 0
  hasTransition: durationAlt
.auth.intro #intro,
.auth.switch #switch
  z-index: 2
  opacity: 1
  .h3 .spans
    spansCurrent()

//  GLOBAL
#switch
  makeAbsolute: 50% 50%
  width: input-width
  margin-{align}: -(input-width*.5)

//  INTRO
#intro
  makeAbsolute: 50% 0 auto 0
  clerkMargin: authHeight.switch

//  SWITCH
#switch
  clerkMargin: authHeight.switch
  .h3
    height: baseline*2
    .spans
      makeAbsolute: 0 50%
      transform: translateX(-50%)
  .fields
    margin-top: baseline*.5
    > *
      margin-bottom: 0
