button-width= baseline*3.75
button-height= baseline*1.25
button-padding= 0
button-border= none
button-radius= 3px

button-family= inherit
button-font= font-default
button-weight= weight-bold

buttonNormal()
  background-color: border-dark
  color: text-default
buttonHover()
  background-color: blue
  color: white
buttonDisabled()
  background-color: border-default
  color: text-light-alt

.button
  cursor: pointer
  display: block
  position: relative
  width: button-width
  height: button-height
  line-height: button-height - 2px
  padding: button-padding
  border: button-border
  border-radius: button-radius

  font-family: button-family
  font-size: button-font
  font-weight: button-weight

  white-space: nowrap
  vertical-align: middle
  text-align: center
  letter-spacing: normal
  text-decoration: none
  hasTransition()

  hasOutline()
  focusEffect()
  &.disabled:not(:focus):after
    background-color: rgba(0, 0, 0, .25)

  buttonNormal()
  &:hover
    buttonHover()

  &.disabled
    buttonDisabled()
    &:hover
      buttonNormal()
