mark
  display: inline-block
  position: relative
  margin: 0
  padding: 0
  color: inherit
  background-color: transparent
  &:before
    content: ''
    z-index: -1
    display: block
    makeAbsolute: auto 0 0 0
    height: 50%
    background-color: link-bg
