heading-color= text-dark-alt
headline-height= baseline*1.25
heading1-height= baseline*1.5
heading2-height= baseline*1.25
small-height= baseline*.75

link-height= 7px
link-bg= border-dark
link-color-hover= text-dark-alt
link-height-hover= 3px
link-bg-hover= blue

//  HEADING
h1, h2, h3, h4,
.h1, .h2, .h3, .h4, .headline
  margin: 0
  margin-bottom: baseline*.25
  font-weight: weight-bold
  color: heading-color

.headline
  margin-bottom: 0
  font-size: font-headline
  font-weight: weight-regular
  line-height: headline-height
h1, .h1
  font-size: font-heading1
  line-height: heading1-height
h2, .h2
  font-size: font-heading2
  line-height: heading2-height
h3, .h3
  font-size: font-heading3
  font-weight: weight-regular
h4, .h4
  font-size: font-heading4
  font-weight: weight-regular
  line-height: small-height
  color: text-light

//  PARAGRAPH
p, .p
  margin: 0

//  SMALL
small, .small
  font-size: font-small
  line-height: small-height

//  ANCHOR
a
  cursor: pointer
  color: inherit
  hasTransition()
  hasOutline()
  &, &:hover
    text-decoration: none

  //  LINK EFFECT
  linkEffect()
    display: inline-block
    position: relative
    &:before
      content: ''
      z-index: -1
      display: block
      makeAbsolute: auto 0 18% 0
      height: link-height
      background-color: link-bg
      hasTransition()

  //  LINK
  &.link
    linkEffect()
    &:hover, &:focus
      color: link-color-hover
      &:before
        bottom: 0
        height: link-height-hover
        background-color: link-bg-hover

  //  LINK GROUP
  &.link-group
    display: block
    .h3
      margin: 0
      line-height: baseline*1.25
      color: text-dark
      > span:before
        bottom: 24%
    .p
      line-height: baseline*.75
      color: text-light
      > span:before
        bottom: 10%
    > * > span
      linkEffect()
      hasTransition()
      &:before
        {align-alt}: 100%
    &:hover, &:focus
      > * > span
        color: link-color-hover
        &:before
          {align-alt}: 0
      > *:nth-child(2) > span
        &, &:before
          hasTransition: duration 0 step*3
