heading-color= text-dark-alt
heading1-height= baseline*1.5
heading2-height= baseline*1.25
small-height= baseline*.75

link-height= 10px
link-bg= border-dark
link-color-hover= text-dark-alt
link-height-hover= 3px
link-bg-hover= blue

//  HEADING
h1, h2, h3, h4,
.h1, .h2, .h3, .h4
  margin: 0
  margin-bottom: baseline*.25
  color: heading-color
  font-weight: weight-bold

h1, .h1
  font-size: font-heading1
  line-height: heading1-height
h2, .h2
  font-size: font-heading2
  line-height: heading2-height
h3, .h3
  font-size: font-heading3
  font-weight: weight-regular
h4, .h4
  font-size: font-heading4
  font-weight: weight-regular
  line-height: small-height
  color: text-light

//  PARAGRAPH
p, .p
  margin: 0

//  SMALL
small, .small
  font-size: font-small
  line-height: small-height

//  ANCHOR
a
  cursor: pointer
  color: inherit
  hasTransition()
  hasOutline()
  &, &:hover
    text-decoration: none
  &.link
    display: inline-block
    position: relative

    //  HOVER EFFECT
    &:before
      content: ''
      z-index: -1
      display: block
      makeAbsolute: auto 0 15% 0
      height: link-height
      background-color: link-bg
      hasTransition()
    &:hover, &:focus
      color: link-color-hover
      &:before
        bottom: 0
        height: link-height-hover
        background-color: link-bg-hover
